<style>
body {
  min-width: 100%;
}

#apply {
  margin-left: -8px;
  margin-top: -8px;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 50vh 0;
  text-align: center;
}

@media (max-width: 745px) {
  #apply {
    scale: 0.95;
    height: 120vh;
    margin-top: -20px;
    font-size: 19px;
  }
}
</style>

<script>
parent.document.getElementsByTagName("iframe")[0].scrolling = "no";
</script>

<div id="apply">
RELATIONSHIP TEST
</div>